*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background-color: black;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-btn{
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease 0s;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    position: relative;

    overflow: hidden;
}

.wave-btn:hover .wave-btn-waves{
    top: -50px;
}

.wave-btn:hover {
    border-radius: 10px 10px 10px 10px;
    transition: all 0.3s ease 0.2s;
    box-shadow:  0 0 40px rgba(73,115, 255,0.6);
}

.wave-btn-text{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
}

.wave-btn-waves{
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgba(73,115, 255);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease 0s;
}
.wave-btn-waves:after,
.wave-btn-waves:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;

    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}
.wave-btn-waves:before{
    background-color: #000;
    border-radius: 48%;
    animation: waves 8s infinite linear ;
}
.wave-btn-waves:after{
    background-color: rgba(0,0,0,0.5);
    border-radius: 44%;
    animation: waves 10s infinite linear ;
}
@keyframes waves{
    0%{
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }
    100%{
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}